<!DOCTYPE html>
<html>
<head>
    
    <title><%= title %></title>

    <!-- 引入基础js&css -->
    <% include common/header.ejs %>

</head>
<body>

<!-- 引入导航栏 -->
<% include common/navbar.ejs %>

<!-- 引入主页面 -->
<% include main.ejs %>

<!-- 引入页脚 -->
<% include common/footer.ejs %>

</body>
</html>
