<!-- 菜单栏开始 -->
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="#" id="menu-mpic" class="list-group-item"><span class="img-ico aside-mpic" ></span>百度网盘</a>
        <a href="#" id="menu-mdoc" class="list-group-item"><span class="img-ico aside-mdoc" ></span>360网盘</a>
        <a href="#" id="menu-mvideo" class="list-group-item"><span class="img-ico aside-mvideo" ></span>金山快盘</a>
        <a href="#" id="menu-mbt" class="list-group-item"><span class="img-ico aside-mbt" ></span>115网盘</a>
        <a href="#" id="menu-mmusic" class="list-group-item"><span class="img-ico aside-mmusic" ></span>dropbox</a>
        <a href="#" id="menu-moth" class="list-group-item"><span class="img-ico aside-offdownload" ></span>离线下载</a>
        <a href="#" id="menu-recycle" class="list-group-item"><span class="img-ico aside-recycle" ></span>回收站</a>
        <a href="#" id="menu-disk" class="list-group-item"><span class="img-ico aside-mdisk" ></span>网盘管理</a>
    </div>
</div>
<!-- 菜单栏结束 -->