<!-- 导航栏开始 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">iDreambox</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/about">关于</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">联系<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">开发：Ⅸ半城戒ㄣ木</li>
                        <li class="divider"></li>
                        <li><a>电话：15311411421</a></li>
                        <li><a href="mailto:954155714@qq.com">邮箱：954155714@qq.com</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.chinaso.com" target="_blank">国家搜索队</a></li>
                        <li><a href="http://blog.idreambox.org" target="_blank">我的博客</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">项目源码</li>
                        <li><a href="https://github.com/DoubleRound/iDreambox-java" target="_blank">idreambox for java</a></li>
                        <li><a href="https://github.com/DoubleRound/idreambox-nodejs" target="_blank">idreambox for node.js</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.username != undefined) { %>
                    <li><a href="/users">您好，<%= user.username %></a></li>
                    <li><a href="/logout">[退出]</a></li>
                <% } else { %>
                    <li><a href="/login">[登录]</a></li>
                    <li><a href="/reg">[注册]</a></li>
                <% } %>
            </ul>
        </div>

    </div>
</nav>
<!-- 导航栏结束 -->